<header role="banner">
  <nav class="mobile-nav show-on-mobiles">
    {% include primary-nav-items.html %}
  </nav>
  <div class="grid">
    <div class="unit one-quarter center-on-mobiles">
      <div class="logo">
        <a href="/">
          <span class="sr-only">GlobalNames</span>
          <img src="/img/bioguid-logo.png" width="100" alt="GNA Logo">
        </a>
      </div>
    </div>
    <nav class="main-nav unit three-quarters hide-on-mobiles">
      {% include primary-nav-items.html %}
    </nav>
  </div>
</header>
