USE [master]
GO
/****** Object:  Database [BioGUID_IMPORT]    Script Date: 10/5/2015 9:08:42 AM ******/
CREATE DATABASE [BioGUID_IMPORT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BioGUID_IMPORT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BioGUID_IMPORT.mdf' , SIZE = 5543680KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BioGUID_IMPORT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BioGUID_IMPORT_log.ldf' , SIZE = 3828544KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BioGUID_IMPORT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BioGUID_IMPORT]
GO
/****** Object:  Table [dbo].[DuplicateGBIFRecords]    Script Date: 10/5/2015 9:08:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DuplicateGBIFRecords](
	[gbifID] [bigint] NOT NULL,
	[CORRECTgbifID] [bigint] NULL,
	[Identifier] [varchar](255) NULL,
	[CorrectIdentifier] [varchar](255) NULL,
	[ObjectID] [bigint] NULL,
	[CORRECTObjectID] [bigint] NULL,
 CONSTRAINT [PK_DuplicateGBIFRecords] PRIMARY KEY CLUSTERED 
(
	[gbifID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EXPORT]    Script Date: 10/5/2015 9:08:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EXPORT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BatchType] [varchar](255) NOT NULL,
	[ObjectClass] [varchar](255) NOT NULL,
	[IdentifierDomainUUID] [varchar](36) NOT NULL,
	[IdentifierDomain] [varchar](255) NOT NULL,
	[DereferencePrefix] [varchar](255) NULL,
	[Identifier] [varchar](255) NOT NULL,
	[DereferenceSuffix] [varchar](255) NULL,
	[RelatedObjectClass] [varchar](255) NOT NULL,
	[RelatedIdentifierDomainUUID] [varchar](36) NOT NULL,
	[RelatedIdentifierDomain] [varchar](255) NOT NULL,
	[RelatedDereferencePrefix] [varchar](255) NULL,
	[RelatedIdentifier] [varchar](255) NOT NULL,
	[RelatedDereferenceSuffix] [varchar](255) NULL,
	[RelationshipOfResource] [varchar](255) NOT NULL,
 CONSTRAINT [PK_EXPORT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FixGBIF]    Script Date: 10/5/2015 9:08:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FixGBIF](
	[GBIFID] [bigint] NOT NULL,
	[IdentifiedObjectID] [bigint] NOT NULL,
	[Triplet] [varchar](255) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_FixGBIF] PRIMARY KEY CLUSTERED 
(
	[GBIFID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IMPORT]    Script Date: 10/5/2015 9:08:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPORT](
	[IMPORTID] [bigint] IDENTITY(1,1) NOT NULL,
	[BatchUUID] [uniqueidentifier] NOT NULL,
	[IdentifiedObjectID] [bigint] NULL,
	[ObjectClass] [nvarchar](255) NULL,
	[IdentifierDomainID] [int] NULL,
	[IdentifierDomainUUID] [uniqueidentifier] NOT NULL,
	[DereferencePrefix] [nvarchar](255) NULL,
	[DereferenceSuffix] [nvarchar](255) NULL,
	[IMPORTIdentifier] [nvarchar](255) NOT NULL,
	[Identifier] [nvarchar](255) NULL,
	[RelatedIdentifiedObjectID] [bigint] NULL,
	[RelatedObjectClass] [nvarchar](255) NULL,
	[RelatedIdentifierDomainUUID] [uniqueidentifier] NULL,
	[RelatedIdentifierDomainID] [int] NULL,
	[RelatedDereferencePrefix] [nvarchar](255) NULL,
	[RelatedDereferenceSuffix] [nvarchar](255) NULL,
	[IMPORTRelatedIdentifier] [nvarchar](255) NULL,
	[RelatedIdentifier] [nvarchar](255) NULL,
	[RelationshipType] [nvarchar](255) NULL CONSTRAINT [DF_IMPORT_RelationshipType]  DEFAULT ('Congruent'),
	[ImportStatus] [nvarchar](255) NULL CONSTRAINT [DF_IMPORT_ImportStatus]  DEFAULT ('Unprocessed'),
	[TimeStamp] [datetime] NULL CONSTRAINT [DF_IMPORT_TimeStamp]  DEFAULT (getutcdate()),
 CONSTRAINT [PK_IMPORT] PRIMARY KEY CLUSTERED 
(
	[IMPORTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IMPORT_Temp]    Script Date: 10/5/2015 9:08:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPORT_Temp](
	[BatchUUID] [nvarchar](36) NOT NULL,
	[ObjectClass] [nvarchar](max) NULL,
	[IdentifierDomainUUID] [nvarchar](max) NULL,
	[DereferencePrefix] [nvarchar](max) NULL,
	[Identifier] [nvarchar](max) NULL,
	[DereferenceSuffix] [nvarchar](max) NULL,
	[RelatedObjectClass] [nvarchar](max) NULL,
	[RelatedIdentifierDomainUUID] [nvarchar](max) NULL,
	[RelatedDereferencePrefix] [nvarchar](max) NULL,
	[RelatedIdentifier] [nvarchar](max) NULL,
	[RelatedDereferenceSuffix] [nvarchar](max) NULL,
	[RelationshipType] [nvarchar](max) NULL,
	[ImportStatus] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ISSN_DOI]    Script Date: 10/5/2015 9:08:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ISSN_DOI](
	[ObjectClass] [varchar](50) NULL,
	[IdentifierDomainUUID] [varchar](50) NULL,
	[DereferencePrefix] [varchar](50) NULL,
	[DereferenceSuffix] [varchar](50) NULL,
	[Identifier] [varchar](50) NULL,
	[RelatedObjectClass] [varchar](50) NULL,
	[RelatedIdentifierDomainUUID] [varchar](50) NULL,
	[RelatedDereferencePrefix] [varchar](50) NULL,
	[RelatedDereferenceSuffix] [varchar](50) NULL,
	[RelatedIdentifier] [varchar](50) NULL,
	[RelationshipType] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SplitGBIF]    Script Date: 10/5/2015 9:08:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SplitGBIF](
	[gbifID] [varchar](255) NOT NULL,
	[IdentifiedObjectID] [bigint] NULL,
	[RecordCount] [int] NULL,
 CONSTRAINT [PK_SplitGBIF] PRIMARY KEY CLUSTERED 
(
	[gbifID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [IX_DuplicateGBIFRecords_CORRECTgbifID]    Script Date: 10/5/2015 9:08:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_DuplicateGBIFRecords_CORRECTgbifID] ON [dbo].[DuplicateGBIFRecords]
(
	[CORRECTgbifID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_DuplicateGBIFRecords_CorrectIdentifier]    Script Date: 10/5/2015 9:08:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_DuplicateGBIFRecords_CorrectIdentifier] ON [dbo].[DuplicateGBIFRecords]
(
	[CorrectIdentifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DuplicateGBIFRecords_CORRECTObjectID]    Script Date: 10/5/2015 9:08:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_DuplicateGBIFRecords_CORRECTObjectID] ON [dbo].[DuplicateGBIFRecords]
(
	[CORRECTObjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_DuplicateGBIFRecords_Identifier]    Script Date: 10/5/2015 9:08:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_DuplicateGBIFRecords_Identifier] ON [dbo].[DuplicateGBIFRecords]
(
	[Identifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DuplicateGBIFRecords_ObjectID]    Script Date: 10/5/2015 9:08:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_DuplicateGBIFRecords_ObjectID] ON [dbo].[DuplicateGBIFRecords]
(
	[ObjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_EXPORT_BatchType]    Script Date: 10/5/2015 9:08:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_EXPORT_BatchType] ON [dbo].[EXPORT]
(
	[BatchType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_EXPORT_Identifier]    Script Date: 10/5/2015 9:08:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_EXPORT_Identifier] ON [dbo].[EXPORT]
(
	[Identifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_EXPORT_IdentifierDomainUUID]    Script Date: 10/5/2015 9:08:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_EXPORT_IdentifierDomainUUID] ON [dbo].[EXPORT]
(
	[IdentifierDomainUUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_EXPORT_ObjectClass]    Script Date: 10/5/2015 9:08:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_EXPORT_ObjectClass] ON [dbo].[EXPORT]
(
	[ObjectClass] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_EXPORT_RelatedIdentifier]    Script Date: 10/5/2015 9:08:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_EXPORT_RelatedIdentifier] ON [dbo].[EXPORT]
(
	[RelatedIdentifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_EXPORT_RelatedIdentifierDomainUUID]    Script Date: 10/5/2015 9:08:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_EXPORT_RelatedIdentifierDomainUUID] ON [dbo].[EXPORT]
(
	[RelatedIdentifierDomainUUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_EXPORT_RelatedObjectClass]    Script Date: 10/5/2015 9:08:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_EXPORT_RelatedObjectClass] ON [dbo].[EXPORT]
(
	[RelatedObjectClass] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_EXPORT_RelationshipOfResource]    Script Date: 10/5/2015 9:08:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_EXPORT_RelationshipOfResource] ON [dbo].[EXPORT]
(
	[RelationshipOfResource] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FixGBIF_IdentifiedObjectID]    Script Date: 10/5/2015 9:08:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_FixGBIF_IdentifiedObjectID] ON [dbo].[FixGBIF]
(
	[IdentifiedObjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_FixGBIF_Triplet]    Script Date: 10/5/2015 9:08:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_FixGBIF_Triplet] ON [dbo].[FixGBIF]
(
	[Triplet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IMPORT_BatchUUID]    Script Date: 10/5/2015 9:08:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_IMPORT_BatchUUID] ON [dbo].[IMPORT]
(
	[BatchUUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IMPORT_IdentifiedbjectID]    Script Date: 10/5/2015 9:08:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_IMPORT_IdentifiedbjectID] ON [dbo].[IMPORT]
(
	[IdentifiedObjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_IMPORT_Identifier]    Script Date: 10/5/2015 9:08:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_IMPORT_Identifier] ON [dbo].[IMPORT]
(
	[Identifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IMPORT_IdentifierDomainID]    Script Date: 10/5/2015 9:08:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_IMPORT_IdentifierDomainID] ON [dbo].[IMPORT]
(
	[IdentifierDomainID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IMPORT_IdentifierDomainUUID]    Script Date: 10/5/2015 9:08:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_IMPORT_IdentifierDomainUUID] ON [dbo].[IMPORT]
(
	[IdentifierDomainUUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_IMPORT_ImportStatus]    Script Date: 10/5/2015 9:08:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_IMPORT_ImportStatus] ON [dbo].[IMPORT]
(
	[ImportStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_IMPORT_ObjectClass]    Script Date: 10/5/2015 9:08:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_IMPORT_ObjectClass] ON [dbo].[IMPORT]
(
	[ObjectClass] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IMPORT_RelatedIdentifiedObjectID]    Script Date: 10/5/2015 9:08:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_IMPORT_RelatedIdentifiedObjectID] ON [dbo].[IMPORT]
(
	[RelatedIdentifiedObjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_IMPORT_RelatedIdentifier]    Script Date: 10/5/2015 9:08:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_IMPORT_RelatedIdentifier] ON [dbo].[IMPORT]
(
	[RelatedIdentifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IMPORT_RelatedIdentifierDomainID]    Script Date: 10/5/2015 9:08:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_IMPORT_RelatedIdentifierDomainID] ON [dbo].[IMPORT]
(
	[RelatedIdentifierDomainID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IMPORT_RelatedIdentifierDomainUUID]    Script Date: 10/5/2015 9:08:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_IMPORT_RelatedIdentifierDomainUUID] ON [dbo].[IMPORT]
(
	[RelatedIdentifierDomainUUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_IMPORT_RelatedObjectClass]    Script Date: 10/5/2015 9:08:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_IMPORT_RelatedObjectClass] ON [dbo].[IMPORT]
(
	[RelatedObjectClass] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_IMPORT_RelationshipType]    Script Date: 10/5/2015 9:08:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_IMPORT_RelationshipType] ON [dbo].[IMPORT]
(
	[RelationshipType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SplitGBIF_IdentifiedObjectID]    Script Date: 10/5/2015 9:08:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_SplitGBIF_IdentifiedObjectID] ON [dbo].[SplitGBIF]
(
	[IdentifiedObjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IMPORT_Temp] ADD  CONSTRAINT [DF_IMPORT_Temp_BatchUUID]  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [BatchUUID]
GO
ALTER TABLE [dbo].[IMPORT_Temp] ADD  CONSTRAINT [DF_IMPORT_Temp_RelationshipType]  DEFAULT ('Congruent') FOR [RelationshipType]
GO
ALTER TABLE [dbo].[IMPORT_Temp] ADD  CONSTRAINT [DF_IMPORT_Temp_ImportStatus]  DEFAULT ('Unprocessed') FOR [ImportStatus]
GO
USE [master]
GO
