USE [master]
GO
/****** Object:  Database [BioGUIDLocalLog]    Script Date: 10/5/2015 9:15:13 AM ******/
CREATE DATABASE [BioGUIDLocalLog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BioGUIDLocalLog', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BioGUIDLocalLog.mdf' , SIZE = 820224KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BioGUIDLocalLog_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BioGUIDLocalLog_log.ldf' , SIZE = 112384KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BioGUIDLocalLog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BioGUIDLocalLog]
GO
/****** Object:  Table [dbo].[PackageLog]    Script Date: 10/5/2015 9:15:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PackageLog](
	[PackageLogID] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](128) NULL,
	[FieldName] [nvarchar](128) NOT NULL,
	[EditType] [char](1) NULL,
	[UserName] [nvarchar](128) NULL,
	[Host] [nvarchar](255) NULL,
	[AuthenticationMode] [bit] NULL,
	[SessionID] [uniqueidentifier] NULL,
	[PreviousValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[EditTimeStamp] [datetime] NULL,
	[IsPrimary] [bit] NULL,
	[PKID] [int] NULL,
	[Sequence] [int] NULL,
 CONSTRAINT [PK_PackageLog] PRIMARY KEY CLUSTERED 
(
	[PackageLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PerformanceLog]    Script Date: 10/5/2015 9:15:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerformanceLog](
	[PerformanceLogID] [int] IDENTITY(1,1) NOT NULL,
	[SessionID] [uniqueidentifier] NULL,
	[Process] [nvarchar](255) NULL,
	[Task] [nvarchar](max) NULL,
	[RecordCount] [int] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
 CONSTRAINT [PK_PerformanceLog] PRIMARY KEY CLUSTERED 
(
	[PerformanceLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SearchLog]    Script Date: 10/5/2015 9:15:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SearchLog](
	[SearchLogID] [int] IDENTITY(1,1) NOT NULL,
	[SearchUUID] [uniqueidentifier] NOT NULL,
	[StoredProcedure] [nvarchar](255) NOT NULL,
	[Parameters] [nvarchar](max) NULL,
	[UserName] [nvarchar](128) NULL,
	[StartTime] [datetime] NOT NULL CONSTRAINT [DF_SearchLog_StartTime]  DEFAULT (getdate()),
	[EndTime] [datetime] NOT NULL CONSTRAINT [DF_SearchLog_EndTime]  DEFAULT (getdate()),
 CONSTRAINT [PK_SearchLog] PRIMARY KEY CLUSTERED 
(
	[SearchLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SearchResult]    Script Date: 10/5/2015 9:15:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SearchResult](
	[SearchLogID] [int] NOT NULL,
	[PKID] [bigint] NOT NULL,
 CONSTRAINT [PK_SearchResult] PRIMARY KEY CLUSTERED 
(
	[SearchLogID] ASC,
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
