---
doc: single
layout: default
---

  <section class="docs">
    <div class="grid">

      {% include docs_contents_mobile.html %}

      <div class="unit four-fifths">
        <article>
          <h2>
          {{ page.title }}
          <a href="{{ page.url }}" class="permalink" title="Permalink">∞</a>
          </h2>
    <div>
   {% if page.date %}
   <span class="doc-date">Edited on: {{ page.date | date_to_string }}</span>
   {% endif %}
   {% if page.author %}
   <a href="https://github.com/{{ page.author }}" class="post-author">
      <img src="https://github.com/{{ page.author }}.png" class="avatar" alt="{{ page.author }} avatar" width="24" height="24">
      {{ page.author }}
    </a>
   {% endif %}
    </div>
          {{ content }}
          {% include section_nav.html %}
        </article>
      </div>

      {% include docs_contents.html %}

      <div class="clear"></div>

    </div>
  </section>
